---

---
<section class="px-5 md:px-0 flex w-full justify-center">
  <section class="flex flex-wrap gap-28 items-start">
    <div class="flex flex-col min-w-60 w-[471px] px-5 md:px-0">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fd30e88041120534f33dec046cd015e3667b34f6?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
        alt="Service showcase"
        class="hidden md:block object-contain w-full rounded-3xl aspect-square max-md:max-w-full"
      />
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea31ba9282bfd6d7dcdbe6e1ac7ff37638c16849?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
        alt="Service highlight"
        class="md:object-contain md:self-end md:-mr-10 -mt-16 w-full md:max-w-full rounded-3xl aspect-square shadow-[-2px_-2px_3px_rgba(1,42,83,1)] md:w-[343px]"
      />
    </div>

    <div class="w-[438px] px-5 md:px-0">
      <header class="w-full min-h-[84px] text-zinc-100 max-md:max-w-full">
        <h2 class="font-subtitulos flex-1 text-xl max-md:max-w-full">
          Soma tu me alternativa
        </h2>
        <h3 class="font-subtitulos flex-1 text-3xl font-bold max-md:max-w-full">
          Nuestra gama de servicios
        </h3>
        <p class="text-base font-subtitulos mt-4">
          A través de alianzas con expertos acreditados, ofrecemos formación en áreas claves para el desempeño de funciones en el hogar:
        </p>
      </header>

      <div class="mt-6 max-w-full text-white w-[414px]">
        <article class="flex gap-7 items-center w-full">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74ebe74d2fdf56cb4e490ee996fa68daed0fea34?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
            alt="Professional service icon"
            class="object-contain shrink-0 aspect-[0.91] w-[50px]"
          />
          <div class="flex flex-col justify-center min-w-60 w-[337px]">
            <h4 class="font-subtitulos font-bold text-xl">
              Cuidado del infante
            </h4>
          </div>
        </article>

        <article class="flex gap-7 items-center mt-7">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74ebe74d2fdf56cb4e490ee996fa68daed0fea34?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
            alt="Eco-friendly products icon"
            class="object-contain shrink-0 aspect-[0.91] w-[50px]"
          />
          <div class="min-w-60 w-[323px]">
            <h4 class="font-subtitulos font-bold text-xl">
              Alimentación saludable
            </h4>
            
          </div>
        </article>

        <article class="flex gap-7 items-center mt-7">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74ebe74d2fdf56cb4e490ee996fa68daed0fea34?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
            alt="Satisfaction guarantee icon"
            class="object-contain shrink-0 aspect-[0.91] w-[50px]"
          />
          <div class="min-w-60 w-[323px]">
            <h4 class="text-xl font-bold font-subtitulos">
              Técnicas de limpieza profesional
            </h4>
            
          </div>
        </article>
        <article class="flex gap-7 items-center mt-7">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74ebe74d2fdf56cb4e490ee996fa68daed0fea34?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
            alt="Satisfaction guarantee icon"
            class="object-contain shrink-0 aspect-[0.91] w-[50px]"
          />
          <div class="min-w-60 w-[323px]">
            <h4 class="text-xl font-bold font-subtitulos">
              Inteligencia emocional y manejo del estrés
            </h4>
            
          </div>
        </article>
        <article class="flex gap-7 items-center mt-7">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74ebe74d2fdf56cb4e490ee996fa68daed0fea34?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
            alt="Satisfaction guarantee icon"
            class="object-contain shrink-0 aspect-[0.91] w-[50px]"
          />
          <div class="min-w-60 w-[323px]">
            <h4 class="text-xl font-bold font-subtitulos">
              Ética y responsabilidad laboral
            </h4>
            
          </div>
        </article>
      </div>
    </div>
  </section>
</section>