---

---
<section class="px-5 md:px-0 flex justify-center items-center px-11 py-5 mt-5  min-h-[682px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] ">
  <div class="flex flex-col md:flex-row max-w-[1080x] gap-6 rounded-3xl md:bg-primario px-16 py-20">
    <section class="w-full self-stretch my-auto text-xl font-bold text-white min-h-[460px] min-w-60 md:w-[282px]">
      <h2 class="text-2xl font-bold font-subtitulos">Comunicate con Nosotros</h2>
      <p class="mt-5 text-base font-parrafos font-thin text-justify">
        Recupera tu tiempo libre y disfruta de un espacio impecable. En Soma,
        nos encargamos de dejar tu hogar o negocio reluciente para que tú te
        enfoques en lo que realmente importa.
      </p>
      <address class="mt-5 leading-7 not-italic font-parrafos text-xl font-bold">
        Telefono: 099878767<br />
        Instagram: @Somaec<br />
        Alborada Decima Etapainfosoma@soma.com
      </address>
    </section>
    <div class="hidden md:block">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2bad942d84a84fe3157fd5520fbc818d4dda7f8?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
        alt="Contact illustration"
        class="object-contain shrink-0 self-stretch my-auto rounded-3xl aspect-[0.64] min-w-60 w-[283px]"
      />
    </div>
    <div class="flex flex-col justify-center items-end self-stretch my-auto h-[456px] min-w-60 w-[414px]">
      <div class="max-w-full text-white w-[413px]">
        <h2 class="text-3xl font-bold">Separa hoy tu cita</h2>
        <p class="mt-3 text-xl font-medium">Deja eso que te quita tu tiempo</p>
      </div>

      <form class="flex flex-col mt-4 w-full text-base whitespace-nowrap max-w-[413px] text-zinc-500 max-md:mt-10">
        <div class="flex gap-3.5 w-full">
          <input
            type="text"
            placeholder="Nombre"
            class="basis-1/2 gap-2 pl-4 py-4 bg-white rounded-3xl min-h-[52px]"
            required
          />
          <input
            type="tel"
            placeholder="Numero"
            class="basis-1/2 gap-2 pl-4 py-4 bg-white rounded-3xl min-h-[52px]"
            required
          />
        </div>

        <input
          type="email"
          placeholder="Correo"
          class="gap-2.5 self-stretch px-5 py-4 mt-4 bg-white rounded-3xl min-h-[52px] w-full"
          required
        />

        <textarea
          placeholder="Mensaje"
          class="gap-2.5 px-5 pt-2.5 pb-24 mt-4 bg-white rounded-3xl min-h-[127px] w-full"
          required
        ></textarea>

        <button
          type="submit"
          class="gap-2.5 self-stretch px-2.5 py-4 mt-4 text-white bg-sky-900 rounded-3xl min-h-[52px] w-full hover:bg-sky-800 transition-colors"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</section>
