---

---
<main class="bg-white pt-[90px] flex flex-col gap-5 md:gap-24 items-center py-0 w-full justify-center">
  <div class="max-w-[1080px] px-5 md:px-1">
  <!-- seccion uno -->
    <section class="flex flex-col-reverse md:flex-row justify-center gap-5 md:gap-24 items-center pt-7 w-full">
      <!-- textos -->
      <header class="flex flex-col basis-[40%] justify-center items-start mb-6 md:mb-0">
        <h1 class="text-5xl md:text-6xl font-bold text-primario mb-4">
          Confianza y bienestar en tu hogar
        </h1>
        <p class="font-parrafos text-primario my-9 max-w-md mx-auto md:mx-0">
          Somos especialistas en la selección y gestión integral de personal doméstico, comprometidos con ofrecer soluciones confiables, profesionales y humanas.
        </p>
        <div class="flex justify-center md:justify-start gap-4">
          <button class="bg-primario text-white px-6 py-2 rounded-lg hover:bg-primario-light transition">
            Servicios
          </button>
          <button class="bg-primario text-white px-6 py-2 rounded-lg hover:bg-primario-light transition">
            Contactanos
          </button>
        </div>
      </header>
      <!-- imagen -->
      <div class="basis-[60%]">
        <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5b33d70270f732475345cc390ba08556499df7f0?placeholderIfAbsent=true"
        alt="Banner ilustrativo de servicios domésticos"
        class="rounded-xl w-full h-auto object-cover"
        />
      </div>
    </section>
  </div>
  <!-- seccion dos -->
  <section class="hidden md:block relative bg-white w-full">
    <!-- Línea azul inferior -->
    <div class="absolute bottom-0 left-0 w-full h-1/2 bg-[#01376e] z-0"></div>

    <div class="relative z-10 max-w-6xl mx-auto px-5 py-16 flex flex-col md:flex-row gap-6 justify-center items-start">
      <!-- Tarjeta -->
      <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
        <img src="/icons/evaluacion.png" class="w-24 h-24 mb-6" alt="Capacitación" />
        <div class="mt-6 w-full">
          <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Evaluación de Personal</h3>
          <p class="text-base text-primario text-justify">
            En alianza con expertos internacionales en seguridad y delitos laborales de Israel, ofrecemos un 
            servicio de Evaluación Integral de Personal diseñado para brindarte tranquilidad y confianza. 
            Realizamos análisis exhaustivos de antecedentes, comportamiento y gestión de riesgos, asegurando 
            que quienes formen parte de tu hogar sean personas confiables y preparadas para desempeñar sus 
            funciones con ética y responsabilidad.<br/>
            <p>&nbsp;</p>
          </p>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
        <img src="/icons/reclutamiento.png" class="w-24 h-24 mb-6" alt="Selección" />
        <div class="mt-6 w-full">
          <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Selección de Personal</h3>
          <p class="text-base text-primario text-justify">
            En SOMA, entendemos que abrir las puertas de tu hogar es un acto de confianza. Por eso, nuestro servicio 
            de Selección de Personal Doméstico es riguroso y humano: identificamos perfiles que se ajustan a las 
            necesidades de cada familia, evaluamos competencias técnicas y valores personales, y nos aseguramos de 
            que cada colaborador sea una persona responsable, respetuosa y capacitada para cuidar tu hogar como si 
            fuera el suyo.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
        <img src="/icons/capacitacion.png " class="w-24 h-24 mb-6" alt="Evaluación" />
        <div class="mt-6 w-full">
          <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Capacitación Continua</h3>
          <p class="text-base text-primario text-justify">
            Más que formar, transformamos. En SOMA, ofrecemos programas de Capacitación Integral que abarcan áreas 
            técnicas como limpieza profesional, alimentación saludable y cuidado infantil, pero también nos enfocamos 
            en fortalecer las habilidades emocionales de nuestro personal. A través de herramientas prácticas, ayudamos 
            a nuestros colaboradores a  gestionar sus emociones, desarrollar inteligencia emocional y construir 
            relaciones sanas en el entorno laboral.
          </p>
        </div>
      </div>
    </div>
  </section>
  
</main>

