---
import "../styles/global.css";
---
<main class="bg-amber-400 flex items-end justify-center  px-60 py-0 min-h-[714px] max-md:px-10 max-md:py-0 max-sm:px-5 max-sm:py-0">
  <section class="flex items-stretch gap-12 max-md:flex-col max-md:items-center max-md:text-center">
    <div class="flex flex-col gap-9 w-[406px] max-md:w-full max-md:max-w-[600px]">
      <h1 class="text-4xl font-bold text-white max-sm:text-3xl">
        Soma los servicios que necesitas
      </h1>
      <p class="text-xl text-white max-sm:text-base">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
    </div>
    <div class="hero-image self-end">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5a9fc219067cfb36d28951d62f12fc27152fb543"
        alt="Services"
        class="shadow-sm h-[513px] w-[580px] max-md:w-full max-md:h-auto"
      >
    </div>
  </section>
</main>
