---

---
<main class="bg-white pt-[90px] flex flex-col gap-5 md:gap-24 items-center py-0 w-full justify-center">
  <section class="flex-col md:flex-row md:basis-[60%] flex justify-end gap-5 md:gap-24 items-center pt-7 w-full">
    <header class=" text-center md:text-left w-[740px]">
      <h1 class="text-5xl md:text-7xl font-bold text-primario mb-4">
        Confianza y <br>bienestar en <br>tu hogar
      </h1>
      <p class="font-parrafos text-primario my-9 max-w-md mx-auto md:mx-0">
        Somos especialistas en la selección y gestión integral de personal doméstico, comprometidos con ofrecer soluciones confiables, profesionales y humanas.
      </p>
      <div class="flex justify-center md:justify-start gap-4">
        <button class="bg-primario text-white px-6 py-2 rounded-lg hover:bg-primario-light transition">
          Servicios
        </button>
        <button class="bg-primario text-white px-6 py-2 rounded-lg hover:bg-primario-light transition">
          Contactanos
        </button>
      </div>
    </header>
    <div class="md:basis-[40%]">
      <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/5b33d70270f732475345cc390ba08556499df7f0?placeholderIfAbsent=true"
      alt="Banner ilustrativo de servicios domésticos"
      class="rounded-xl w-full h-auto object-cover"
      />
    </div>
  </section>
  <section class="relative bg-white w-full">
  <!-- Línea azul inferior -->
  <div class="absolute bottom-0 left-0 w-full h-1/2 bg-[#01376e] z-0"></div>

  <div class="relative z-10 max-w-6xl mx-auto px-5 py-16 flex flex-col md:flex-row gap-6 justify-center items-start">
    <!-- Tarjeta -->
    <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ef07cf43ea1b001dc2be3938eae7dfd1346c7190?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" class="w-24 h-24 mb-6" alt="Capacitación" />
      <div class="mt-6 w-full">
        <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Selección</h3>
        <p class="text-base text-primario text-justify">
          Cada candidato pasa por filtros psicológicos, entrevistas por competencias.
        </p>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ef07cf43ea1b001dc2be3938eae7dfd1346c7190?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" class="w-24 h-24 mb-6" alt="Selección" />
      <div class="mt-6 w-full">
        <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Capacitación</h3>
        <p class="text-base text-primario text-justify">
          Cada candidato pasa por filtros psicológicos, entrevistas por competencias.
        </p>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow border py-6 px-9 w-2/3 self-center md:w-1/3 flex flex-col items-center text-center z-10">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ef07cf43ea1b001dc2be3938eae7dfd1346c7190?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" class="w-24 h-24 mb-6" alt="Evaluación" />
      <div class="mt-6 w-full">
        <h3 class="text-primario font-subtitulos font-bold text-2xl mb-2 text-left mb-6">Evaluación</h3>
        <p class="text-base text-primario text-justify">
          Cada candidato pasa por filtros psicológicos, entrevistas por competencias.
        </p>
      </div>
    </div>
  </div>
  </section>
  
</main>

