---
import "../styles/global.css";
---
<section class="flex w-full justify-center bg-[#E6F0FF] p-10">
    <div class="flex justify-between w-full max-w-[1080px]">
        <div class="flex gap-4 bg-amber-400 rounded-xl p-5 items-center">
            <img src="../../public/icons/coche.png" alt="" class="w-[32px] h-[32px]">
            <h2>Jardineria</h2>
        </div>
        <div class="flex gap-4 bg-amber-400 rounded-xl p-5 items-center">
            <img src="../../public/icons/coche.png" alt="" class="w-[32px] h-[32px]">
            <h2>Conductor</h2>
        </div>
        <div class="flex gap-4 bg-amber-400 rounded-xl p-5 items-center">
            <img src="../../public/icons/coche.png" alt="" class="w-[32px] h-[32px]">
            <h2>Limpieza Hogar</h2>
        </div>
        <div class="flex gap-4 bg-amber-400 rounded-xl p-5 items-center">
            <img src="../../public/icons/coche.png" alt="" class="w-[32px] h-[32px]">
            <h2>Cuidado Infantil</h2>
        </div>
        <div class="flex gap-4 bg-amber-400 rounded-xl p-5 items-center">
            <img src="../../public/icons/coche.png" alt="" class="w-[32px] h-[32px]">
            <h2>Enfermeria</h2>
        </div>
    </div>
</section>