---

---
<section class="w-full">
  <h1 class="text-4xl font-bold text-white max-md:max-w-full">
    SERVICIOS
  </h1>

  <div class="flex flex-wrap gap-16 items-start mt-14 w-full text-black max-md:mt-10 max-md:max-w-full">
    <article class="flex grow shrink gap-2.5 justify-center items-center px-8 py-14 bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[270px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto w-[238px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/ef07cf43ea1b001dc2be3938eae7dfd1346c7190?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Capacitación"
          class="object-contain self-center max-w-full rounded-none aspect-[1.01] w-[120px]"
        />
        <div class="mt-6 w-full">
          <h2 class="text-2xl font-bold">Capacitación</h2>
          <p class="mt-6 text-xl font-[250]">
            A través de alianzas con Presto y otros aliados especializados, ofrecemos formación en áreas clave
          </p>
        </div>
      </div>
    </article>

    <article class="flex grow shrink gap-2.5 justify-center items-center px-8 py-14 text-2xl bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[271px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto min-w-60 w-[251px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/599004d3fa42a18a9617f705d60ee3175a84b1a7?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Selección"
          class="object-contain self-center max-w-full rounded-none aspect-square w-[118px]"
        />
        <div class="mt-6 w-full">
          <h2 class="font-bold">Selección</h2>
          <p class="mt-6 font-[250]">
            Cada candidato pasa por filtros psicológicos, entrevistas por competencias.
          </p>
        </div>
      </div>
    </article>

    <article class="flex grow shrink gap-2.5 justify-center items-center px-6 py-12 bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[270px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto min-w-60 w-[259px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e6094ce1c356164ff02c0da12c22cf2c432bc5e?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Evaluación"
          class="object-contain self-center max-w-full rounded-none aspect-square w-[120px]"
        />
        <div class="mt-6 w-full">
          <h2 class="text-2xl font-bold">Evaluación</h2>
          <p class="mt-6 text-xl font-[250]">
            Aplicamos un sistema de evaluación de última generación, desarrollado en Israel.
          </p>
        </div>
      </div>
    </article>

    <article class="flex grow shrink gap-2.5 justify-center items-center px-8 py-14 bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[267px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto w-[238px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/9b2907d50155960f1a81719080eec99ebcb81cd8?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Capacitación"
          class="object-contain self-center max-w-full rounded-none aspect-square w-[120px]"
        />
        <div class="mt-6 w-full">
          <h2 class="text-2xl font-bold">Capacitación</h2>
          <p class="mt-6 text-xl font-thin">
            A través de alianzas con Presto y otros aliados especializados, ofrecemos formación en áreas clave
          </p>
        </div>
      </div>
    </article>

    <article class="flex grow shrink gap-2.5 justify-center items-center px-8 py-14 text-2xl bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[267px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto min-w-60 w-[251px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/599004d3fa42a18a9617f705d60ee3175a84b1a7?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Selección"
          class="object-contain self-center max-w-full rounded-none aspect-square w-[118px]"
        />
        <div class="mt-6 w-full">
          <h2 class="font-bold">Selección</h2>
          <p class="mt-6 font-thin">
            Cada candidato pasa por filtros psicológicos, entrevistas por competencias.
          </p>
        </div>
      </div>
    </article>

    <article class="flex grow shrink gap-2.5 justify-center items-center px-6 py-12 bg-white rounded-xl border-2 border-solid border-slate-700 min-h-[436px] min-w-60 shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[267px] max-md:px-5">
      <div class="flex flex-col justify-center self-stretch my-auto min-w-60 w-[259px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/1655f905c902b096ab91513bd4505b0ca99c28a2?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
          alt="Evaluación"
          class="object-contain self-center max-w-full rounded-none aspect-[0.99] w-[120px]"
        />
        <div class="mt-6 w-full">
          <h2 class="text-2xl font-bold">Evaluación</h2>
          <p class="mt-6 text-xl font-thin">
            Aplicamos un sistema de evaluación de última generación, desarrollado en Israel.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>