---
import "../styles/global.css";
---
<section class="flex flex-col justify-center items-center py-4 w-full min-h-[840px] max-md:max-w-full">
  <header class="flex gap-9 justify-center items-center max-w-full text-3xl text-center h-[283px] w-[583px]">
    <div class="flex flex-col flex-1 shrink justify-center items-center self-stretch my-auto w-full basis-0 min-h-[301px] min-w-60 max-md:max-w-full">
      <h1 class="text-white max-md:max-w-full">Equipo Soma</h1>
      <h2 class="mt-5 font-bold text-zinc-100 max-md:max-w-full">
        El talento y la dedicación están de nuestro lado
      </h2>
      <hr class="self-stretch mt-5 w-full border-2 border-white border-solid min-h-0.5 max-md:max-w-full" />
    </div>
  </header>

  <section class="flex flex-col justify-center py-5 mt-5 max-w-full text-xl min-h-[506px] text-zinc-100 w-[1084px]">
    <div class="flex flex-wrap gap-10 items-center w-full max-md:max-w-full">
      <article class="flex flex-col grow shrink self-stretch my-auto w-[143px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/052360335cf817e11223b763c45218f34803f9df?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Maria Lopez Gomez" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="mt-6 w-full">
          <h3 class="font-bold text-center">Maria Lopez Gomez</h3>
          <p class="text-center">Enfermera</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto w-[147px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/849f4067a183932b9361313cb58693592acfdf21?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Jose Antonio Lopez" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="mt-6 w-full">
          <h3 class="font-bold text-center">Jose Antonio Lopez</h3>
          <p class="text-center">Taxista</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto text-slate-300 w-[147px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/86bd02cb88a1493a03f570f7a486efd0f7f5c0ca?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Ignacio Pachuco Lui" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="flex flex-col mt-6 w-full">
          <h3 class="text-center font-bold">Ignacio Pachuco Lui</h3>
          <p class="text-center">Limpieza</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto text-white w-[147px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/abfe4d94760df2f80fb76f1dd789315883f5a3ec?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Tatiana Camacho Leo" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="flex flex-col mt-6 w-full">
          <h3 class="text-center font-bold">Tatiana Camacho Leo</h3>
          <p class="text-center">Limpieza</p>
        </div>
      </article>
    </div>

    <div class="flex flex-wrap gap-10 items-center mt-9 w-full max-md:max-w-full">
      <article class="flex flex-col grow shrink self-stretch my-auto w-[143px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a2cc2333110374ab9d4ce2ff7948fe9459575684?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Roberto Cornejo Mai" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="flex flex-col mt-6 w-full">
          <h3 class="text-center font-bold">Roberto Cornejo Mai</h3>
          <p class="text-center">Enfermera</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto w-[147px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a704999789d231bc67d7f4173004ed4604b38f13?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Paola Saltos Murillo" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="mt-6 w-full">
          <h3 class="text-center font-bold">Paola Saltos Murillo</h3>
          <p class="text-center">Taxista</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto w-[143px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/964c8e72a3c46c30d86289de9972e6fa91ae9059?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Maria Lopez Gomez" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="mt-6 w-full">
          <h3 class="text-center font-bold">Maria Lopez Gomez</h3>
          <p class="text-center">Enfermera</p>
        </div>
      </article>

      <article class="flex flex-col grow shrink self-stretch my-auto w-[147px]">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d18bbc29b0145b760c47dec8f8e94fdbeb34b392?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472" alt="Jose Antonio Lopez" class="object-contain self-center max-w-full rounded-full aspect-square shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[142px]" />
        <div class="mt-6 w-full">
          <h3 class="text-center font-bold">Jose Antonio Lopez</h3>
          <p class="text-center">Taxista</p>
        </div>
      </article>
    </div>
  </section>
</section>