<section class=" flex flex-col justify-center items-center my-24 bg-white inset-shadow-sm">
    <!-- Puedes colocar esto dentro de una página .astro o como componente -->
    <section class="flex flex-col md:flex-row items-start px-4 sm:px-6 lg:px-8 mt-24 mx-5 md:mx-0" >
        <section class="flex flex-col flex-wrap gap-6 items-start w-full min-h-[238px] max-md:max-w-full">
                <h2 class="text-3xl font-bold">Trabaja con Nosotros</h2>
                <p class="grow shrink text-base text-primario w-[422px] max-md:max-w-full">
                    En SOMA, buscamos personas responsables, comprometidas y con vocación de servicio para formar parte de nuestro equipo.
                </p>
                <h2 class="text-xl font-bold text-orange-200">Aviso de Privacidad</h2>
                <p class="grow shrink text-base text-neutral-400 w-[422px] max-md:max-w-full text-justify">
                    
                    En SOMA Agencia de Servicios, nos comprometemos a proteger la información personal que nos proporcionas. Los datos 
                    recopilados a través de este formulario serán utilizados exclusivamente para procesos de selección y reclutamiento 
                    de personal.
                    
                    No compartiremos tu información con terceros sin tu consentimiento, salvo que sea requerido por ley. Al enviar tu 
                    formulario, autorizas a SOMA a utilizar tus datos únicamente para fines de selección y reclutamiento.
                </p>
        </section>    
        <div class="mt-5 md:mt-0 mb-10 md:mb-0 max-w-xl mx-auto">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">Completa el siguiente formulario y adjunta tu hoja de vida.</h2>
            <p class="text-base text-neutral-400 mb-8">Todos los datos son obligatorios.  </p>
            <form class="space-y-6" name="formulario-aplicacion" method="POST" enctype="multipart/form-data">
                <!-- Nombre Completo -->
                <div>
                    <label for="nombre" class="block text-sm font-medium text-primario">Nombre Completo</label>
                    <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    required
                    class="mt-1 block w-full rounded-md text-primario pl-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                    />
                </div>
                <!-- Número de Cédula -->
                <div>
                    <label for="cedula" class="block text-sm font-medium text-primario ">Número de Cédula</label>
                    <input
                    type="number"
                    name="cedula"
                    id="cedula"
                    required
                    class="mt-1 block w-full rounded-md text-primario pl-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                    />
                </div>
                <!-- Número de Celular -->
                <div>
                    <label for="celular" class="block text-sm font-medium text-primario">Número de Celular</label>
                    <input
                    type="tel"
                    name="celular"
                    id="celular"
                    required
                    class="mt-1 block w-full rounded-md text-primario pl-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                    />
                </div>
                <!-- Correo Electrónico -->
                <div>
                    <label for="email" class="block text-sm font-medium text-primario ">Correo Electrónico</label>
                    <input
                    type="email"
                    name="email"
                    id="email"
                    required
                    class="mt-1 block w-full rounded-md text-primario pl-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                    />
                </div>
                <!-- Hoja de Vida -->
                <div>
                    <label for="cv" class="block text-sm font-medium text-primario ">Sube tu Hoja de Vida</label>
                    <input
                    type="file"
                    name="cv"
                    id="cv"
                    required
                    accept=".pdf,.doc,.docx"
                    class="my-2 block w-full text-sm text-primario file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-white file:bg-primario hover:file:bg-primario-light"
                    />
                </div>

                <!-- Botón -->
                <div class="">
                    <button
                    type="submit"
                    class="inline-flex rounded-md border border-transparent bg-primario px-6 py-2 text-sm font-medium text-white shadow-sm hover:bg-primario-light focus:outline-none"
                    >
                    Enviar
                    </button>
                </div>
            </form>
        </div>
    </section>
    <div class="hidden md:block w-full max-w-[1080px] py-24">
        <blockquote
        class="px-5 py-8 text-2xl font-bold text-center text-primario"
        role="region"
        aria-label="Testimonial quote"
        >
        "En SOMA, cuidamos de tu hogar con el mismo esmero con el que seleccionamos a nuestro equipo. Sabemos que cada familia es única, por eso ofrecemos soluciones personalizadas, éticas y seguras."
        </blockquote>
    </div>
    
</section>
