<section class="flex justify-center items-center my-24 bg-white inset-shadow-sm">
    <div class="w-full max-w-[1080px] py-24">
        <blockquote
        class="px-5 py-8 text-2xl font-bold text-center text-primario"
        role="region"
        aria-label="Testimonial quote"
        >
        "En SOMA, cuidamos de tu hogar con el mismo esmero con el que seleccionamos a nuestro equipo. Sabemos que cada familia es única, por eso ofrecemos soluciones personalizadas, éticas y seguras."
        </blockquote>
    </div>
</section>
