<section class="flex justify-center bg-red-300 py-28">
    <blockquote
    class="px-44 py-16 text-3xl font-bold text-center text-white bg-center bg-no-repeat bg-cover max-w-[978px] min-h-[342px] max-md:px-16 max-md:py-10 max-md:text-3xl max-sm:px-5 max-sm:py-8 max-sm:text-2xl"
    role="region"
    aria-label="Testimonial quote"
    >
    "Recupera tu tiempo libre y disfruta de un espacio impecable. En SOMA, nos encargamos de dejar tu hogar o negocio reluciente para que tú te enfoques en lo que realmente importa."
    </blockquote>
</section>
